<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="35804928-381c-4bb8-9dab-ec63e583007f"
    Publisher="CN=Syncfusion"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="35804928-381c-4bb8-9dab-ec63e583007f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Syncfusion Notification Control Gallery (Beta)</DisplayName>
    <PublisherDisplayName>Syncfusion</PublisherDisplayName>
    <Logo>Assets\Tiles\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17134.0" MaxVersionTested="10.0.17134.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="syncfusion.notificationdemos.winui.App">
      <uap:VisualElements
        DisplayName="Syncfusion Notification Control Gallery (Beta)"
        Square150x150Logo="Assets\Tiles\Square150x150Logo.png"
        Square44x44Logo="Assets\Tiles\Square44x44Logo.png"
        Description="Syncfusion Notification Control Gallery (Beta)"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Tiles\Wide310x150Logo.png" Square71x71Logo="Assets\Tiles\SmallTile.png" Square310x310Logo="Assets\Tiles\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Tiles\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>